*{padding: 0;margin: 0;box-sizing: border-box; color:white;background-color: black;}
hmtl,body {height: 100%;}

h2{padding-top: 2em;}
table {border:1px solid pink; padding:2px;}
th{border:2px solid green;}
td{padding: 5px; border: 1px solid blue;}

nav{position:sticky; top:0px; background-color:rgba(240, 248, 255, 0.904);}
nav, a{position:relative; padding:3%; color:rgb(0, 0, 0); background-color:rgba(240, 248, 255, 0.904); margin:auto;}